<section class="products-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Empresa</h2>
        </div>
        <div class="row text-center">
            <div class="col-sm">
                <img class="img-products" src="../../../../assets/header-bg.jpg" alt="">
                <h4 class="container-text">Tittle</h4>
                <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum a quos optio dolorum, quidem accusamus esse facere cupiditate suscipit quis perspiciatis fuga aperiam inventore, eveniet voluptatem possimus rerum asperiores impedit!</p>
            </div>
            <div class="col-sm">
                <img class="img-products" src="../../../../assets/header-bg.jpg" alt="">
                <h4 class="container-text">Tittle</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eligendi vero, perspiciatis perferendis autem itaque, quidem porro voluptates provident rerum neque voluptatibus aperiam, fugit blanditiis commodi alias eveniet esse expedita?</p>
            </div>
            <div class="col-sm">
                <img class="img-products" src="../../../../assets/header-bg.jpg" alt="">
                <h4 class="container-text">Tittle</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus exercitationem recusandae facilis. Neque sit ullam quod omnis perspiciatis iusto alias mollitia voluptatum aut, sint molestiae, vel officia culpa esse id.</p>
            </div>
        </div>
    </div>
</section>