<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Title</div>
    </div>
</header>

<section class="welcome-section">
    <div class="container text-center">
        <h1 class="container-text">Texto de Bienvenida</h1>
        <div class="row">
            <div class="col-sm">
                <div class="img-welcome"></div>
            </div>
            <div class="col-sm">
                <p class="text-lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, non molestias, nam fuga nobis sint dolor hic consectetur explicabo minima fugiat temporibus doloremque odio. Veniam itaque tenetur iste neque alias? </p>
            </div>
        </div>
    </div>
</section>

<section class="products-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Productos Principales</h2>
        </div>
        <div class="row text-center">
            <div class="col-sm">
                <img class="img-products" src="../../../../assets/header-bg.jpg" alt="">
                <h4 class="container-text">E-Commerce</h4>
                <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum a quos optio dolorum, quidem accusamus esse facere cupiditate suscipit quis perspiciatis fuga aperiam inventore, eveniet voluptatem possimus rerum asperiores impedit!</p>
            </div>
            <div class="col-sm">
                <img class="img-products" src="../../../../assets/header-bg.jpg" alt="">
                <h4 class="container-text">Responsive Design</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-sm">
                <img class="img-products" src="../../../../assets/header-bg.jpg" alt="">
                <h4 class="container-text">Web Security</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container ">
        <h1 class="container-text text-center">Contacto</h1>
        <div class="row">
            <div class="col-sm text-left">
                <p class="text-lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, non molestias, nam fuga nobis sint dolor hic consectetur explicabo minima fugiat temporibus doloremque odio. Veniam itaque tenetur iste neque alias? </p>
            </div>
            <div class="col-sm">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">Text 1</label>
                        <input type="text" class="form-control" id="exampleInputText1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputText2" class="form-label">Text 2</label>
                        <input type="text" class="form-control" id="exampleInputText2">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputText3" class="form-label">Text 3</label>
                        <input type="text" class="form-control" id="exampleInputText3">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>