<section class="footer-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact</h2>
        </div>
        <div class="row text-center">
            <div class="col-sm">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13279.525749787297!2d-74.07224105661994!3d4.658893573296879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sco!4v1655931545887!5m2!1sen!2sco" width="450" height="250" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-sm">
                <h6 class="text-uppercase fw-bold mb-4">
                    Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p>
                    <i class="fas fa-envelope me-3"></i> info@example.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
        </div>
    </div>
</section>